rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {

        function isAuthenticated() {
            return request.auth != null;
        }

        function isUserAuthenticated(userUid) {
            return isAuthenticated() && userUid == request.auth.uid;
        }

        function isValidTag(tag) {
            return tag.size() == 1
                && "num" in tag
                && tag.num is int
        }

        function isValidUserInfo(userInfo) {
            return userInfo.size() == 9
                && userInfo.keys().hasAll([
                    "name", "userIcon", "comment", "githubUrl", "twitterUrl", "otherUrl", "favoriteList", "feedbackList", "userUid"
                ])
                && userInfo.name is string
                && userInfo.userIcon is string
                && userInfo.comment is string
                && userInfo.githubUrl is string
                && userInfo.twitterUrl is string
                && userInfo.otherUrl is string
                && userInfo.favoriteList is list
                && userInfo.favoriteList[0] is string
                && userInfo.feedbackList is list
                && userInfo.feedbackList[0] is string
                && userInfo.userUid is string
        }

        // 非公開にするべき情報はないため読み取りは全て許可
        match /{document=**} {
            allow read: if true;
        }

        // match /feedback/{feedbackId} {
        //     allow read: if true;
        // }

        // match /product/{productId} {
        //     allow read: if true;
        // }

        match /tag/{tagName} {
            allow create: if isAuthenticated()
                && isValidTag(request.resource.data)
                && request.resource.data.num > -1;
        }

        match /userInfo/{userUid} {
            allow create: if isUserAuthenticated(userUid)
                && isValidUserInfo(request.resource.data)
                && request.resource.data.comment == "よろしくお願いします。"
                && request.resource.data.githubUrl == ""
                && request.resource.data.twitterUrl == ""
                && request.resource.data.otherUrl == ""
                && request.resource.data.favoriteList == [""]
                && request.resource.data.feedbackList == [""];
            allow update: if isUserAuthenticated(userUid)
                && isValidUserInfo(request.resource.data);
        }
    }
}