rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {

        function isAuthenticated() {
            return request.auth != null;
        }

        function isUserAuthenticated(userUid) {
            return isAuthenticated() && userUid == request.auth.uid;
        }

        match /{document=**} {
            allow read: if true;
        }

        // match /feedback/{feedbackId} {
        //     allow read: if true;
        // }

        // match /product/{productId} {
        //     allow read: if true;
        // }

        // match /tag/{tagName} {
        //     allow read: if true;
        // }

        // match /userInfo/{userUid} {
        //     allow read: 
        // }
    }
}